---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import face from "../assets/face.jpg";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const recent = posts.slice(0, 3);
const starred = posts.filter((post) => post.data.starred);
---

<BaseLayout
  title="Structs & Company"
  description="A blog by Yusuf Bouzekri about tech, romance, movies and jokes"
>
  <nav class="flex text-xl my-2 font-medium font-serif justify-between">
    <Link href="/">home/</Link>
    <Link href="/posts">posts/</Link>
    <Link href="/about">about/</Link>
  </nav>
  <header class="mt-5 h-card">
    <Image
      src={face}
      height={160}
      class="mb-3 mx-auto u-photo"
      alt="A somewhat surprised white man, Black and White Picture, light face on dark background with a broken glass effect"
    />
    <h1 class="text-5xl text-center font-display">Structs & Company</h1>
    <p class="italic font-serif text-xl text-center">A Hacker's Best Friend</p>
    <article class="font-serif mt-5 p-note text-xl">
      <p>
        Hello, I Hope you're doing well today. My name is <Link
          href="https://yusuf.fyi"
          styles="u-url p-name"
          rel="me"
          ><span class="p-given-name">Yusuf</span><span
            class="hidden p-family-name"
          >
            Bouzekri</span
          ></Link
        > and I write articles on this blog. I work as a <span
          class="p-job-title">software engineer</span
        >. in my free time I go hiking, play boardgames or edit my neovim
        config.
      </p>
      <div class="h-2"></div>
      <p>
        Sometimes I write software outside my job as well, I enjoy coding in
        golang and laravel.
      </p>
    </article>
  </header>
  <article class="font-serif text-xl mt-5">
    <h2 class="text-2xl font-bold mt-3 mb-2 text-amber-700 font-smallcaps">
      Latest posts
    </h2>
    <ul class="list-disc space-y-3 list-inside">
      {
        recent.map((post) => (
          <li class="flex justify-between items-baseline">
            <Link href={"posts/" + post.slug}>{post.data.title}</Link>
            <time
              datetime={post.data.pubDate.toString()}
              class="italic tabular-nums text-sm"
            >
              {post.data.pubDate.toLocaleDateString("en-US", {
                month: "short",
                day: "2-digit",
              })}
            </time>
          </li>
        ))
      }
    </ul>
  </article>
  <article class="mt-5 font-serif text-xl">
    <h2 class="text-2xl font-bold mt-3 mb-2 text-amber-700 font-smallcaps">
      ★ La crème de la crème
    </h2>
    <ul class="list-disc space-y-3 list-inside">
      {
        starred.map((post) => (
          <li class="flex justify-between items-baseline">
            <Link href={"posts/" + post.slug}>{post.data.title}</Link>
            <time
              datetime={post.data.pubDate.toString()}
              class="italic tabular-nums text-sm"
            >
              {post.data.pubDate.toLocaleDateString("en-US", {
                month: "short",
                day: "2-digit",
              })}
            </time>
          </li>
        ))
      }
    </ul>
  </article>
  <Link href="/posts" styles="mt-2 text-2xl block font-bold text-center">
    All Posts &rarr;
  </Link>
</BaseLayout>
