---
import "@fontsource/roboto-mono";
import "../style/global.css";

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon-100x100.png" />
<meta name="generator" content={Astro.generator} />
<link rel="feed" type="text/html" title="My Articles" href="/posts" />
<link rel="me" href="https://github.com/spcbfr" />
<link rel="authorization_endpoint" href="https://indieauth.com/auth" />
<link rel="webmention" href="https://webmention.io/yusuf.fyi/webmention" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- RSS auto-discovery -->
<link
	rel="alternate"
	type="application/rss+xml"
	title="Structs & Company"
	href={`${Astro.site}rss.xml`}
/>

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- OpenGraph -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:image" content={image ? image : "/og-image.png"} />
<meta property="og:site_name" content="Structs & Company" />
