---
import "../style/global.css";
import BaseHead from "../components/BaseHead.astro";
import Link from "../components/Link.astro";
import Webmentions from "../components/Webmentions.svelte";
import Footer from "../components/Footer.astro";
let { title, pubDate, description, slug } =
  Astro.props.frontmatter || Astro.props;
if (typeof pubDate == "string") {
  pubDate = new Date(pubDate);
}
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description} />

  <body class="flex flex-col items-center justify-center bg-[#faf9f5]">
    <main
      class="xl:w-1/3 pb-10 h-entry flex-grow lg:w-1/2 md:w-3/4 w-5/6 font-serif"
    >
      <nav
        class="flex print:hidden text-xl my-2 font-medium font-serif justify-between"
      >
        <Link href="/">home/</Link>
        <Link href="/posts">posts/</Link>
        <Link href="/about">about/</Link>
      </nav>
      <div class="flex mt-8 justify-between items-center">
        <div class="h-card items-center gap-3 flex u-auther">
          <img
            src="/yusuf.jpg"
            alt={"A white young man wearing a coat, outside a home, early morning, misty weather"}
            width="64"
            class="u-photo hidden"
          />
          <Link
            rel="author"
            styles="p-author p-name u-url text-lg sm:block hidden font-semibold"
            href="/">Yusuf Bouzekri</Link
          >
        </div>

        <a class="u-url hidden" href={Astro.site + slug}></a>
        <time
          datetime={pubDate.toISOString()}
          class="sm:text-lg font-semibold dt-published"
        >
          {
            pubDate.toLocaleDateString("en-US", {
              weekday: "long",
              month: "short",
              day: "numeric",
              year: "numeric",
            })
          }
        </time>
      </div>
      <h1 class="text-3xl sm:text-5xl mb-5 mt-3 font-display p-name">
        {title}
      </h1>

      <article class="prose space-y-5 e-content">
        <slot />
        <a href="https://brid.gy/publish/mastodon"></a>
      </article>
      <section class="flex sm:mx-0 mx-auto gap-3 mt-4 print:hidden">
        <a
          href={"https://news.ycombinator.com/submitlink?t=" +
            encodeURIComponent(title) +
            "&u=" +
            encodeURIComponent(Astro.site + slug)}
          class="text-white sm:text-lg font-semibold bg-black p-2 pb-1 block w-fit mt-3"
          >Share on Hackernews</a
        >

        <a
          href="https://ko-fi.com/spacebuffer"
          class="bg-amber-700 sm:text-lg font-semibold text-white p-2 pb-1 block w-fit mt-3"
          >Donate on Ko-fi</a
        >
      </section>

      <Webmentions urlSlug={slug} client:load />
    </main>
    <Footer />
  </body>
</html>
